In [1]:
# !pip install dagshub

In [2]:
import sys
import os

# Add the parent directory to the Python path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))

# Now you can import from src
from src.data_utils import load_and_process_taxi_data

import pandas as pd

import dagshub
dagshub.init(repo_owner="gourimenon8", repo_name="sp25_taxi", mlflow=True)

Accessing as gourimenon8

Initialized MLflow to track repo "gourimenon8/sp25_taxi"

Repository gourimenon8/sp25_taxi initialized!

In [3]:
rides1 = load_and_process_taxi_data(year=2022)
rides2=(load_and_process_taxi_data(year=2023))
rides = pd.concat([rides1,rides2],ignore_index=True)

File already exists for 2022-01.
Loading data for 2022-01...
Total records: 2,463,931
Valid records: 2,415,141
Records dropped: 48,790 (1.98%)
Successfully processed data for 2022-01.
File already exists for 2022-02.
Loading data for 2022-02...
Total records: 2,979,431
Valid records: 2,921,118
Records dropped: 58,313 (1.96%)
Successfully processed data for 2022-02.
File already exists for 2022-03.
Loading data for 2022-03...
Total records: 3,627,882
Valid records: 3,551,986
Records dropped: 75,896 (2.09%)
Successfully processed data for 2022-03.
File already exists for 2022-04.
Loading data for 2022-04...
Total records: 3,599,920
Valid records: 3,522,113
Records dropped: 77,807 (2.16%)
Successfully processed data for 2022-04.
File already exists for 2022-05.
Loading data for 2022-05...
Total records: 3,588,295
Valid records: 3,509,056
Records dropped: 79,239 (2.21%)
Successfully processed data for 2022-05.
File already exists for 2022-06.
Loading data for 2022-06...
Total records: 3,558,124
Valid records: 3,479,411
Records dropped: 78,713 (2.21%)
Successfully processed data for 2022-06.
File already exists for 2022-07.
Loading data for 2022-07...
Total records: 3,174,394
Valid records: 3,096,271
Records dropped: 78,123 (2.46%)
Successfully processed data for 2022-07.
File already exists for 2022-08.
Loading data for 2022-08...
Total records: 3,152,677
Valid records: 3,072,196
Records dropped: 80,481 (2.55%)
Successfully processed data for 2022-08.
File already exists for 2022-09.
Loading data for 2022-09...
Total records: 3,183,767
Valid records: 3,106,359
Records dropped: 77,408 (2.43%)
Successfully processed data for 2022-09.
File already exists for 2022-10.
Loading data for 2022-10...
Total records: 3,675,411
Valid records: 3,583,466
Records dropped: 91,945 (2.50%)
Successfully processed data for 2022-10.
File already exists for 2022-11.
Loading data for 2022-11...
Total records: 3,252,717
Valid records: 3,165,474
Records dropped: 87,243 (2.68%)
Successfully processed data for 2022-11.
File already exists for 2022-12.
Loading data for 2022-12...
Total records: 3,399,549
Valid records: 3,310,530
Records dropped: 89,019 (2.62%)
Successfully processed data for 2022-12.
Combining all monthly data...
Data loading and processing complete!
File already exists for 2023-01.
Loading data for 2023-01...
Total records: 3,066,766
Valid records: 2,993,140
Records dropped: 73,626 (2.40%)
Successfully processed data for 2023-01.
File already exists for 2023-02.
Loading data for 2023-02...
Total records: 2,913,955
Valid records: 2,845,058
Records dropped: 68,897 (2.36%)
Successfully processed data for 2023-02.
File already exists for 2023-03.
Loading data for 2023-03...
Total records: 3,403,766
Valid records: 3,331,705
Records dropped: 72,061 (2.12%)
Successfully processed data for 2023-03.
File already exists for 2023-04.
Loading data for 2023-04...
Total records: 3,288,250
Valid records: 3,214,922
Records dropped: 73,328 (2.23%)
Successfully processed data for 2023-04.
File already exists for 2023-05.
Loading data for 2023-05...
Total records: 3,513,649
Valid records: 3,435,875
Records dropped: 77,774 (2.21%)
Successfully processed data for 2023-05.
File already exists for 2023-06.
Loading data for 2023-06...
Total records: 3,307,234
Valid records: 3,233,969
Records dropped: 73,265 (2.22%)
Successfully processed data for 2023-06.
File already exists for 2023-07.
Loading data for 2023-07...
Total records: 2,907,108
Valid records: 2,838,637
Records dropped: 68,471 (2.36%)
Successfully processed data for 2023-07.
File already exists for 2023-08.
Loading data for 2023-08...
Total records: 2,824,209
Valid records: 2,758,739
Records dropped: 65,470 (2.32%)
Successfully processed data for 2023-08.
File already exists for 2023-09.
Loading data for 2023-09...
Total records: 2,846,722
Valid records: 2,782,920
Records dropped: 63,802 (2.24%)
Successfully processed data for 2023-09.
File already exists for 2023-10.
Loading data for 2023-10...
Total records: 3,522,285
Valid records: 3,446,406
Records dropped: 75,879 (2.15%)
Successfully processed data for 2023-10.
File already exists for 2023-11.
Loading data for 2023-11...
Total records: 3,339,715
Valid records: 3,267,940
Records dropped: 71,775 (2.15%)
Successfully processed data for 2023-11.
File already exists for 2023-12.
Loading data for 2023-12...
Total records: 3,376,567
Valid records: 3,313,957
Records dropped: 62,610 (1.85%)
Successfully processed data for 2023-12.
Combining all monthly data...
Data loading and processing complete!

In [4]:
temp_rides = rides[rides["pickup_location_id"] == 43]

In [5]:
from src.data_utils import transform_raw_data_into_ts_data

ts_data = transform_raw_data_into_ts_data(temp_rides)
ts_data.head()

C:\gouri\MLops\sp25_taxi-main\src\data_utils.py:223: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rides["pickup_hour"] = rides["pickup_datetime"].dt.floor("h")

          pickup_hour  pickup_location_id  rides
0 2022-01-01 00:00:00                  43     96
1 2022-01-01 01:00:00                  43     60
2 2022-01-01 02:00:00                  43     22
3 2022-01-01 03:00:00                  43      8
4 2022-01-01 04:00:00                  43      4

In [6]:
ts_data

              pickup_hour  pickup_location_id  rides
0     2022-01-01 00:00:00                  43     96
1     2022-01-01 01:00:00                  43     60
2     2022-01-01 02:00:00                  43     22
3     2022-01-01 03:00:00                  43      8
4     2022-01-01 04:00:00                  43      4
...                   ...                 ...    ...
17515 2023-12-31 19:00:00                  43     55
17516 2023-12-31 20:00:00                  43     72
17517 2023-12-31 21:00:00                  43     50
17518 2023-12-31 22:00:00                  43     28
17519 2023-12-31 23:00:00                  43     34

[17520 rows x 3 columns]

In [7]:
ts_data = ts_data.drop(columns=["pickup_location_id"])

In [8]:
print(ts_data.head())

          pickup_hour  rides
0 2022-01-01 00:00:00     96
1 2022-01-01 01:00:00     60
2 2022-01-01 02:00:00     22
3 2022-01-01 03:00:00      8
4 2022-01-01 04:00:00      4

In [9]:
# !pip install pmdarima
from pmdarima import auto_arima

# Find best ARIMA(p, d, q)
model_auto = auto_arima(ts_data["rides"], seasonal=False, stepwise=True, trace=True)

# Print the best parameters
print(model_auto.summary())

Performing stepwise search to minimize aic
 ARIMA(2,0,2)(0,0,0)[0]             : AIC=162977.313, Time=4.68 sec
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=210122.120, Time=0.28 sec
 ARIMA(1,0,0)(0,0,0)[0]             : AIC=165205.279, Time=0.34 sec
 ARIMA(0,0,1)(0,0,0)[0]             : AIC=191455.692, Time=1.97 sec
 ARIMA(1,0,2)(0,0,0)[0]             : AIC=164599.482, Time=5.13 sec
 ARIMA(2,0,1)(0,0,0)[0]             : AIC=164969.807, Time=5.63 sec
 ARIMA(3,0,2)(0,0,0)[0]             : AIC=inf, Time=27.01 sec
 ARIMA(2,0,3)(0,0,0)[0]             : AIC=162484.750, Time=11.06 sec
 ARIMA(1,0,3)(0,0,0)[0]             : AIC=163384.864, Time=4.27 sec
 ARIMA(3,0,3)(0,0,0)[0]             : AIC=162468.514, Time=6.74 sec
 ARIMA(4,0,3)(0,0,0)[0]             : AIC=159080.981, Time=16.08 sec
 ARIMA(4,0,2)(0,0,0)[0]             : AIC=162619.471, Time=5.69 sec
 ARIMA(5,0,3)(0,0,0)[0]             : AIC=162610.899, Time=16.71 sec
 ARIMA(4,0,4)(0,0,0)[0]             : AIC=156798.051, Time=25.67 sec
 ARIMA(3,0,4)(0,0,0)[0]             : AIC=162451.439, Time=11.59 sec
 ARIMA(5,0,4)(0,0,0)[0]             : AIC=inf, Time=85.94 sec
 ARIMA(4,0,5)(0,0,0)[0]             : AIC=161958.221, Time=19.22 sec
 ARIMA(3,0,5)(0,0,0)[0]             : AIC=159052.801, Time=21.10 sec
 ARIMA(5,0,5)(0,0,0)[0]             : AIC=161677.470, Time=20.30 sec
 ARIMA(4,0,4)(0,0,0)[0] intercept   : AIC=158532.454, Time=56.15 sec

Best model:  ARIMA(4,0,4)(0,0,0)[0]
Total fit time: 345.813 seconds
                               SARIMAX Results
==============================================================================
Dep. Variable:                      y   No. Observations:                17520
Model:               SARIMAX(4, 0, 4)   Log Likelihood              -78390.026
Date:                Fri, 07 Mar 2025   AIC                         156798.051
Time:                        14:53:45   BIC                         156867.991
Sample:                             0   HQIC                        156821.081
                              - 17520
Covariance Type:                  opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
ar.L1          3.5191      0.026    136.996      0.000       3.469       3.569
ar.L2         -4.6588      0.075    -62.382      0.000      -4.805      -4.512
ar.L3          2.7330      0.074     36.875      0.000       2.588       2.878
ar.L4         -0.5933      0.025    -23.619      0.000      -0.643      -0.544
ma.L1         -2.8741      0.027   -106.117      0.000      -2.927      -2.821
ma.L2          2.8838      0.066     43.537      0.000       2.754       3.014
ma.L3         -1.0876      0.055    -19.946      0.000      -1.194      -0.981
ma.L4          0.0798      0.015      5.200      0.000       0.050       0.110
sigma2       490.8283      4.109    119.454      0.000     482.775     498.882
===================================================================================
Ljung-Box (L1) (Q):                   0.91   Jarque-Bera (JB):              4043.50
Prob(Q):                              0.34   Prob(JB):                         0.00
Heteroskedasticity (H):               0.94   Skew:                             0.45
Prob(H) (two-sided):                  0.02   Kurtosis:                         5.17
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).

In [16]:
from statsmodels.tsa.arima.model import ARIMA

# Fit the best ARIMA model (Example: ARIMA(4, 0, 4) if suggested)
model_arima = ARIMA(ts_data["rides"], order=(4, 0, 4))  # Replace with best (p, d, q)
arima_result = model_arima.fit()

# Print model summary
print(arima_result.summary())

C:\Users\gouri\.conda\envs\mlops_project1\lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

                               SARIMAX Results
==============================================================================
Dep. Variable:                  rides   No. Observations:                17520
Model:                 ARIMA(4, 0, 4)   Log Likelihood              -78008.756
Date:                Fri, 07 Mar 2025   AIC                         156037.512
Time:                        14:59:42   BIC                         156115.223
Sample:                             0   HQIC                        156063.100
                              - 17520
Covariance Type:                  opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         73.4145      0.761     96.461      0.000      71.923      74.906
ar.L1          1.6857      0.007    244.919      0.000       1.672       1.699
ar.L2          0.2286      0.007     34.941      0.000       0.216       0.241
ar.L3         -1.7011      0.006   -262.214      0.000      -1.714      -1.688
ar.L4          0.7532      0.007    109.747      0.000       0.740       0.767
ma.L1         -1.0918      0.010   -114.157      0.000      -1.111      -1.073
ma.L2         -0.7781      0.009    -88.853      0.000      -0.795      -0.761
ma.L3          1.1475      0.009    129.241      0.000       1.130       1.165
ma.L4         -0.1654      0.009    -17.597      0.000      -0.184      -0.147
sigma2       446.7126      3.485    128.177      0.000     439.882     453.543
===================================================================================
Ljung-Box (L1) (Q):                   4.31   Jarque-Bera (JB):              3671.24
Prob(Q):                              0.04   Prob(JB):                         0.00
Heteroskedasticity (H):               0.96   Skew:                             0.29
Prob(H) (two-sided):                  0.12   Kurtosis:                         5.17
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).

In [17]:
from sklearn.metrics import mean_absolute_error

# Split data into train (80%) and test (20%)
train_size = int(len(ts_data) * 0.8)
train, test = ts_data.iloc[:train_size], ts_data.iloc[train_size:]

# Fit ARIMA on training data
model_arima = ARIMA(train["rides"], order=(4, 0, 4))  # Use optimal (p,d,q)
arima_result = model_arima.fit()

# Forecast for test set
forecast = arima_result.forecast(steps=len(test))

# Compute MAE
mae = mean_absolute_error(test["rides"], forecast)
print("Mean Absolute Error (MAE) for ARIMA:", mae)

C:\Users\gouri\.conda\envs\mlops_project1\lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

Mean Absolute Error (MAE) for ARIMA: 25.450375690190363

In [18]:
import mlflow
mlflow.set_experiment("model_arima")

# Start an MLflow run
with mlflow.start_run():
        mlflow.log_metric("mean_absolute_error", mae)

üèÉ View run unleashed-yak-519 at: https://dagshub.com/gourimenon8/sp25_taxi.mlflow/#/experiments/9/runs/15e20eeadcbf4d628de839c2a76a92c4
üß™ View experiment at: https://dagshub.com/gourimenon8/sp25_taxi.mlflow/#/experiments/9